@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=New+Amsterdam&display=swap');


*{
    margin: 0;
    padding: 0;
}

:root{
    --preto: rgb(40, 109, 212);
    --azul-esverdiado: rgb(85, 201, 255);
    --branco: rgb(0, 0, 0);
    --cinza: rgb(255, 255, 255);
    --azul-escuro: rgb(13, 39, 94);
    --fonte-titulo:"New Amsterdam", sans-serif;
    --fonte-texto:"Gupter", serif; 
}

body{
    background-color: var(--branco);
    font-family: var(--fonte-titulo);
    font-size: 16px;
}

.titulo-principal{
    font-family: var(--fonte-titulo);
}

.cabecalho{
   background-color: var(--branco);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 12px 6px 4px 7px; 
}

.cabecalho-img{
    width: 10%;
    border-radius: 10% 20% 30%;
}

.cabecalho-nav__link{
    text-decoration:none ;
    font-family: var(--texto-titulo) ;
    font-size:24px ;
    color:var(--cinza) ;
    margin-right:24px ;
}

.principal-capa{
background-image: url(img/fundo.jpg);
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
gap: 12px;
 }

 .principal-capa__conteudo{
display: flex;
flex-direction: column;
gap: 12px;
 }

.principal-capa__titulo{
font-family: var(--fonte-titulo);
font-size: 32px;
color: var(--azul-esverdiado);
margin-bottom: 10px;
}

 .principal-capa__texto{
font-family: var(--fonte-titulo);
font-size: 32px;
color: #ffffff;
 }

 .principal-capa__img{
border-radius: 5% 5% 5% 5%;
width: 35%;
margin: 60px;
}

.principal-capa__comboato{
display: flex;
flex-direction: column;
align-items: flex-start;
}

.principal-capa__botao{
background: var(--azul-esverdiado);
color: var(--azul);
border-radius: 5px;
padding: lem;
margin-top: lem;
text-decoration: none;
text-align: center;
 width:35%;
}

.principal-capa__botao:hover{
    padding: 1.2em;
    background-color: var(--preto);
    color: var(--branco);
    transition: 0.5s;
}

.botao__secubdário{
    background-color: var(--azul-esverdiado);
    text-align: center;
    width: 50%;
    border: 5px solid var(--preto);
}

.propaganda{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-content: center;
    align-items: 0 7em;
}

.propaganda__img{
    width: 80%;
    height: 90%;
    border-radius: 1em;
}

.propaganda__titulo{
    color: var(--azul-esverdiado);
    font-size: 20px;
    font-family: var(--fonte-titulo);
}

.propaganda__titulo:hover{
    text-shadow: 4px 4px 20px var(--azul-escuro);
    transition: 0.7s;
}

.propaganda__texto{
    font-size: 16px;
    font-family: var(--fonte-texto);
    color: var(--azul-esverdiado);
    margin-top: 1em;
}

.propaganda__2{
    display: flex;
flex-direction: column;
}

.propaganda__img2{
    width: 80%;
    height: 90%;
    margin-left: 4em;
    border-radius: 1em;
}