@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=New+Amsterdam&display=swap');


*{
    margin: 0;
    padding: 0;
}

:root{
    --preto: #353535ff;
    --azul-esverdiado: #3c6e71ff;
    --branco: #ffffffff;
    --cinza: #d9d9d9ff;
    --azul-escuro: #284b63ff;
    --fonte-titulo:"New Amsterdam", sans-serif;
    --fonte-texto:"Gupter", serif; 

}

body{
    background-color: var(--azul);
    font-family: var(--fonte-texto);
    font-size: 16px;
}

.cabecalho{

   background-color: var(--azul);
   display: flex;
   justify-content: left;
   align-items: center;
   padding: 12px 6px 4px 7px; 
}

.cabecalho-img{
    width: 15%;
    border-radius: 10% 20% 30%;

}

.cabecalho-nav__link{

    text-decoration:none ;
    font-family: var(--texto-titulo) ;
    font-size:24px ;
    color:var(--azul-escuro) ;
    margin-right:24px ;
}

.principal-capa{
background-image: url(img/fundo.jpg);
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
gap: 12px;
  background-repeat: no-repeat;
  margin-left: 12px;
  padding: 24px 12px;
 }

 .principal-capa__conteudo{
display: flex;
flex-direction: column;
gap: 12px;
 }

.principal-capa__titulo{
font-family: var(--fonte-titulo);
font-size: 32px;
color: var(--azul-escuro);
margin-bottom: 10px;
}

 .principal-capa__texto{
font-family: var(--fonte-titulo);
font-size: 32px;
color: #1668ac;
 }

 .principal-capa__img{
border-radius: 5% 5% 5% 5%;
width: 50%;
margin: 40px;
 }